# ── Database ───────────────────────────────────────────────────────────────────
MONGO_URI=

# ── Server ─────────────────────────────────────────────────────────────────────
PORT=3000
NODE_ENV=development

# ── JWT ────────────────────────────────────────────────────────────────────────
JWT_ACCESS_SECRET=f80a8d8128ed7c03b7121eb4482da0528995557b202fd7f910788cad25101393f003b79bd0ff9867bfe8f5c66a2cb7ce278234f09b3dde257d327270dba833f8
JWT_REFRESH_SECRET=43393fb88a008e8afa3c71ad180e1e637faab3062061ca2a8031b3d55b394363444f8d1a327079d8d364f713bbfda24a66bf6da17e24a4271767526d0c21d541
JWT_ACCESS_EXPIRY=15m
JWT_REFRESH_EXPIRY=7d

# ── Google OAuth ───────────────────────────────────────────────────────────────
# Get from: https://console.cloud.google.com → APIs & Services → Credentials
GOOGLE_CLIENT_ID=YOUR_GOOGLE_CLIENT_ID_HERE
GOOGLE_CLIENT_SECRET=YOUR_GOOGLE_CLIENT_SECRET_HERE
GOOGLE_CALLBACK_URL=http://localhost:3000/auth/google/callback

# ── GitHub OAuth ───────────────────────────────────────────────────────────────
# Get from: https://github.com/settings/developers → New OAuth App
GITHUB_CLIENT_ID=YOUR_GITHUB_CLIENT_ID_HERE
GITHUB_CLIENT_SECRET=YOUR_GITHUB_CLIENT_SECRET_HERE
GITHUB_CALLBACK_URL=http://localhost:3000/auth/github/callback

# News api key
NEWSDATA_API_KEY = pub_a81eefcfc3034c36a642110b7300d5f4

#REdis 
USE_REDIS=true
REDIS_URL=redis://redis:6379
CI = true
REDIS_HOST=redis
REDIS_PORT=6379